# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
*.Rout

# RStudio files
.Rproj.user/

# Raw input data files
/UCI HAR Dataset

# Output file
/gcd_course_project_tidy_means.txt

# vi swap files
.*.swo
.*.swp
